<template>
  <section>
    <base-card>
      <h2>Submitted Experiences</h2>
      <div>
        <base-button @click="load_survey()">Load Submitted Experiences</base-button>
      </div>

      <p v-if="isloading">Loading...</p>
      <ul v-else>
        <survey-result
          v-for="result in results"
          :key="result.id"
          :name="result.name"
          :rating="result.rating"
        ></survey-result>
      </ul>
    </base-card>
  </section>
</template>

<script>
import SurveyResult from './SurveyResult.vue';

export default {
  // props: ['results'],
  components: {
    SurveyResult,
  },

  data() {
    return {
      results : [],
      isloading : false
    }
  },
  methods:{
    
    load_survey() {
      this.isloading= true;
      fetch('FIREBASE_REALTIME_DATABASE_URL').then((response)=>{
        if(response.ok){
          return response.json();
        }

      }).then((data)=>{
        this.isloading = false;

        const res =[]

        for (const id in data){
          const a = {

            id : id,
            name: data[id].name,
            rating : data[id].rating
          }

          res.push(a);

        }

        this.results = res;
      });
      
    },
  },

  mounted(){
    this.load_survey();
  }

  
}    
      
    
    
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
</style>
